#admin-form{
      padding: 250px 0;
    background: #fffc71;
}
.admintitle p{
    
    font-weight: 600;
    
}
.logo_admin img {
    width: 100px;
}

.adminfield{
    display: inline;
    width: 30%;
    
    
}
.fieldsadmin {
    text-align: center;
    padding-bottom: 30px;
}

.footer_charts{
    padding: 150px 0 20px 0;
    
}
.chartpadding{
    padding:100px;
    margin-top: 120px;
}